@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #26283d;
      background-color: rgba(255, 255, 255, 0.87);
      border-color: #757575;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color: rgba(255, 255, 255, 0.87);
      background-color: #242424;
      border-color: #757575;
    }
  }
}

@layer base {
  body {
    width: 100%;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #747bff;
  }
}
